<h1>Gráfica de Donas</h1>
<h3>Redes mas usadas</h3>
<hr>

<div *ngIf="doughnutChartData.length === 0; else divGrafica"
      class="alert alert-info">
  Cargando Data..
</div>

<div class="row">
  <div class="col">
    <ng-template #divGrafica>
      <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="colores">
        </canvas>
      </div>
      <span class="float-end text-success">
        Información den billones de usuarios
      </span>
    </ng-template>
  </div>
</div>
